<html lang="ru">
<head>
    <title>Корзина - АСГАР</title>
   
    <link rel="stylesheet" href="/static/styles/ASGARupline.css">
    <link rel="stylesheet" href="/static/styles/intominiplane.css">
    <link rel="stylesheet" href="/static/styles/asgarheadlines.css">
    <link rel="stylesheet" href="/static/styles/servaviavariants.css">
</head>
<body>

<header class="site-header">
    <div class="header-container">
        <div class="logo">
            <a href="/ASGARcatalog">
                <img src="/static/img/logo.png" alt="ASGAR logo" class="logo-img">
                <span class="company-name">АСГАР</span>
            </a>
        </div>

       

        
    </div>
</header>

<main class="main-content">
    <div class="services-title">
        <h1>КОРЗИНА</h1>
    </div>

    <!-- ШАПКА ТАБЛИЦЫ -->
    <div class="cart-header">
        <div class="header-service">Услуга</div>
        <div class="header-price">Цена</div>
        <div class="header-quantity">Количество</div>
        <div class="header-total">Стоимость</div>
        <div class="header-actions">Номер Рейса</div>
    </div>

    <div class="cart-items">
        <div class="cart-item">
            <div class="item-info">
                <img src="http://localhost:9000/test//jeta1.jpg" alt="Авиационное топливо" class="cart-item-image">
                <div class="item-details">
                    <h3>Авиационное топливо JET A-1</h3>
                    <p>Высококачественное топливо для газотурбинных двигателей</p>
                </div>
            </div>
            
            <div class="item-price">57 677 руб.</div>
            
            <div class="item-quantity">
                <input type="number" class="quantity-input" value="1" min="1">
            </div>
            
            <div class="item-total">57 677 руб.</div>
            
            <div class="flight-number">
                <input type="text" class="flight-input" placeholder="SU 1234" value="SU 1234">
            </div>
        </div>
        
        <div class="cart-item">
            <div class="item-info">
                <img src="http://localhost:9000/test//noice.jpg" alt="Антифриз" class="cart-item-image">
                <div class="item-details">
                    <h3>Авиационное масло</h3>
                    <p>Состав от обледенения ВС</p>
                </div>
            </div>
            
            <div class="item-price">68 100 руб.</div>
            
            <div class="item-quantity">
                <input type="number" class="quantity-input" value="1" min="1">
            </div>
            
            <div class="item-total">68 100 руб.</div>
            
            <div class="flight-number">
                <input type="text" class="flight-input" placeholder="SU 1234" value="SU 1234">
            </div>
        </div>
    </div>
    
    <div class="cart-summary">
        <div class="total-price">
            <strong>Итого: 125 777 руб.</strong>
        </div>
        
    </div>
</main>
</body>
</html>