<html lang="ru">
<head>
    <title>АСГАР - {{ .order.Title }}</title>
    <link rel="stylesheet" href="/static/styles/search_form.css">
    <link rel="stylesheet" href="/static/styles/card_service.css"> 
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/backet.css">
    <link rel="stylesheet" href="/static/styles/titles.css">
</head>
<body>
<header class="site-header">
    <div class="header-container">
        <div class="logo">
            <a href="/hello">
                <img src="/static/img/logo.png" alt="Metoda Logo" class="logo-img">
                <span class="company-name">АСГАР</span>
            </a>
        </div>

        <div class="search-container">
            <form action="/hello" method="GET" class="search-form">
                <input type="text" name="query" placeholder="Поиск услуг..." value="" class="search-input">
                <button type="submit" class="search-button">
                    <img src="/static/img/searchicon.jpg" alt="Search" width="20">
                </button>
            </form>
        </div>

        <!-- Кнопка корзины -->
        <div class="cart-container">
            <a href="/cart" class="cart-button">
                <img src="/static/img/bascketicon.jpg" alt="Корзина" width="40">
                <span class="cart-count">2</span>
            </a>
        </div>
    </div>
</header>

<!-- Основной контент -->
<main class="main-content">
    <div class="services-title">
        <h1>ВЫБРАННЫЙ ТОВАР</h1>
    </div>

    <div class="single-service-container">
        <div class="single-service-card">
            <div class="single-service-image">
                <img src="{{ .order.ImageURL }}" alt="{{ .order.Title }}">
            </div>
            
            <div class="single-service-content">
                <h2>{{ .order.Title }}</h2>
                <p class="service-description">{{ .order.Description }}</p>
                <p class="service-full-description">{{ .order.FullDescription }}</p>
                
                {{ if .order.Features }}
                <div class="service-features">
                    <h3>Основные характеристики:</h3>
                    <ul>
                        {{ range .order.Features }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
                
                <div class="service-price">
                    <span class="price">{{ .order.Price }}</span>
                </div>
                
                <div class="service-actions">
                    <a href="/cart" class="add-to-cart-button-large">Добавить в корзину</a>
                    <!--<a href="/hello" class="back-button-large">Вернуться к услугам</a>-->
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>